html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body{
    font-size: 1em;
    font-family : "Bitstream Vera Sans", "Lucida Sans", SimSun, sans-serif;
    color: #222222;
    background-color: transparent;
    margin:auto;
    max-width:50em;
}

a{
    color: #A81B09;
    text-decoration:none;
}
a:visited {
    color : #A81B09; 
}
a:hover {
    color: #D7331E; 
    background-color:#EAEAEA;
}
a:active { 
    color:#FAA700; 
}
a:focus { 
    outline: thin dotted; 
}
a:hover, a:active { 
    outline: 0; 
}

p{
    text-indent : 2em;
    font-size : 1em;
    line-height : 150%;
}

img{
    max-width:100%;
    border : 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Sans", "Microsoft YaHei", SimHei, sans-serif;
    padding-bottom: 2px;
    padding-top:5px;
	padding-left:15px;
}

h4,h5,h6{ font-weight: bold; }

h1 {
    margin-top: 28px;
    margin-bottom: 21px;
    padding-bottom: 10px;
    font-size: 1.6em;
	border-left: 8px solid #D7331E;
    border-bottom: 1px solid #D7331E;
}
h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.4em;
	border-left: 5px solid #D7331E;
    border-bottom: 1px dashed #D7331E;
}
h3 {
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 1.2em;
	border-left: 3px solid #D7331E;
    border-bottom: 1px dashed #EEEEEE;
}
h4 {
    margin-top: 10pt;
    margin-bottom: 10pt;
    font-size: 1.05em;
}
h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.05em;
}
h6 {
    margin-top: 10px;
    font-size: 1.05em;
}

blockquote{
color:#666666;
margin:0;
padding-left: 3em;
border-left: 0.5em #aaa solid;
}

hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }
pre, code, kbd, samp { color: #000; font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 0.98em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li { line-height: 150%; margin:0.2em 0 0 0; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

@media only screen and (min-width: 480px) {
body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
body{font-size:16px;}
}

@media print {
  * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
  body{font-size:12pt; max-width:100%;}
  a, a:visited { text-decoration: underline; }
  hr { height: 1px; border:0; border-bottom:1px solid black; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page :left { margin: 15mm 20mm 15mm 10mm; }
  @page :right { margin: 15mm 10mm 15mm 20mm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
